.footer-top{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between; /* switched from default (flex-start, see below) */
  background-color: #F5F5F5;
}
.footer-top >div{
   margin:60px;
  /* border: 2px dashed red; */
}

.footer-about-us{
    width:500px;
    font-size:medium;
}

.footer-bottom{
    background-color:var(--primary-color);
    padding:0.5%;
    color:white;
}
.footer-bottom-content{
    /* margin: auto; */
    margin-left:42%;
    width: 50%;
    padding: 10px;
}
li{
    list-style:none;
    margin-left:-35px;
    padding:5px;
}