.left-hero-container {
    width: 30%;
    margin-top: 8%;
    margin-left: 5%;
}

.heading {
    font-size: x-large;
    color: #1D1C1C;
}

.hero-content {
    margin-top: 5%;
    color: #7E7979;
}

.hero-btn {
    margin-top: 5%;
    border-radius: 25px;
    border: none;
    padding: 8px;
    background-color: var(--primary-color);
    color: white;
    width: 100px;
}

.right-hero-container {
    margin-left: 30%;
    margin-top: -32%;
}